*{
    transition: all 0.25s;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: steelblue;
    background-image: url(https://i.ibb.co/DGc3YRb/ciudad.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 120%;
}

#pregunta{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
} 

.img{
    width: 90%;
    height: 200px;
    object-fit: contain;
    margin: 10px;
    padding: 10px;
}

#encabezado{
    width: 700px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.opcion{
    width: 700px;
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.opcion:hover{
    background: lightgray;
}